@charset "UTF-8";

body{
    margin: 0;
}

header{
    background: #333;
    color: white;
    text-align: center;
    padding: 40px;
}

h1{
    color: #fc3;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
}

h3{
    margin: 10px 0 0 0;
    /* margin-top: 10px; */
}

h4{
    color: #fc3;
    margin-bottom: 0;
}

nav{
    background: #555;

}

nav a{
    color: #fc3;
    text-decoration: none;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    background: #444;
}

nav a:hover{
    background: #555;
}

nav a span{
    margin-right: 5px;
    color: green;
}


main{
    display: flex;
}

article, aside{
    padding: 10px;   
}

article{
    flex: 2;
    background: #EEE;
}

.FTC{
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.FTC span{
    border: 1px solid #fc3;
    border-radius: 3px;
    padding: 3px;
}

aside{
    flex: 1;
}

footer{
    display: flex;
    background: #333;
   margin: 0;
    padding: 5px;
    
}

section{
    flex: 1;
    padding: 14px;
}

section p{
    color: #EEE;
    margin-top: 0; 
}
 
aside div{
    background-size: cover;
    padding: 80px 8px 8px 8px;
}

#venedig{
    background: url("imgs/venedig.jpg");
}

#venedig section{
    background: rgba(0,0,0,.5);
    padding: 8px;
    color: #EEE;
}

h5{
    margin: 0;

}

#venedig section p{
    margin: 0;
}


#sangimignano{
    background: url("imgs/sangimignano.jpg");
    background-size: cover;
    padding: 80px 8px 8px 8px;
    margin-top: 7px;
}

#sangimignano section{
    background: rgba(0,0,0,.5);
    padding: 8px;
    color: #EEE;
}

#sangimignano section p{
    margin: 0;
}