@charset "UTF-8";

header{
    background: lightcoral;
}

main{
    background-color: white;
}

body{
    background-color: gold;
}

h1{
    font-size: 75px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    font-size: 40px;
    color: white;
}

h3{
    font-size: 25px;
}

img{
    width: 100%;
    
}

footer{
    font-size: 20px;
    background: lightcoral;
}


@media screen and (min-width: 480px) and (max-width: 768px) {
  body {
    background-color: lightgreen;
  }
}

@media (min-width: 700px){
    #parent{
        display: flex;
    }

    #parent section{
        flex: 1;
    }

}