@charset "UTF-8";

section{
    background: blue;
    padding: 10px;
    margin: 3px;
    min-height: 170px;
}

body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "A B"
    "C D"
    "C E"

    ;
}

#a{    
    grid-area: A;
}
#b{    
    grid-area: B;
}
#c{    
    grid-area: C;
    background: url(imgs/c.jpg);
    background-size: cover;
    
}
#d{    
    grid-area: D;
}
#e{    
    grid-area: E;
}

