body{
    margin: 0;
}

header{
    background: url('Image/scoops.jpg'); 
    padding: 100px;
    background-size: cover;
}
nav{
    background:blanchedalmond ;
}
nav a{
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
    color: black;
}

nav a:hover{
    background-color: beige;
    color: aqua;
    
}

main{
    padding-left: 10px;
}

h1{
    font: 30px verdana;
    font-weight: bold;
    color: blanchedalmond;
}

p{
    font-family: 'Times New Roman', Times, serif;
}

#ice{
    width: 40%;
}