
article{
    width: 300px;
    height: 300px;
    background: rgba(0, 100, 0, 0.5);
    border-radius: 10px;
  
}



body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    color: white;
    margin: 10px;
    background-image: url(images/images\ \(2\).jpg);
}

section{
    padding: 55px;
}

